<!-- EJERCICIO 2  -->
    <div id="page">

        <section>
            <div class="grid">
                @for(pokemon of arrayPokemons; track pokemon; let i=$index) {
                    <app-pokemon [namePokemon]="pokemon.name" 
                    [imagePokemon]="pokemon.image" 
                    [idPokemon]="currentPokemon"
                    (data)="namePokemonSelectedComponent($event)"
                    [status]="statusCard"></app-pokemon>
                }
            </div>
           
            <app-photo [front]="arrayPokemonsDetails[currentPokemon].front" 
            [rear]="arrayPokemonsDetails[currentPokemon].rear" 
            [frontShiny]="arrayPokemonsDetails[currentPokemon].frontShiny" 
            [rearShiny]="arrayPokemonsDetails[currentPokemon].rearShiny"
            (dataStatusCard)="statusCardsPokemon($event)"
            [textContentCharmander]="habilidadCharmander"
            [textContentBulbasaur]="habilidadBulbasaur"
            [textContentPikachu]="habilidadPikachu"
            [namePokemonSelected]="namePokemonSelected"></app-photo>

            
            
            

        </section>
    </div>