<!-- EJERCICIO 2  [nameEpisode]="contents[currentCharacter].name"-->
    <div id="page">
        <section >
            <div class="content">
                <div class="grid">
                    <app-carousel 
                        [nameCarousel]="contents[currentCharacter].name" 
                        [imageCarousel]="contents[currentCharacter].image"
                        (character)="onInfoCarousel($event)"
                        [arrayContents]="contents"
                        [currentPageEjercicio2]="currentPage"
                        (currentPageCarousel)="onPageCarousel($event)"
                        (displayEpisode)="onVisibility($event)"
                        (modal)="openModal($event)">
                    </app-carousel>

                    <app-episode
                    [nameEpisode]="episodes[currentEpisode].name"
                    [dateEpisode]="episodes[currentEpisode].date"
                    [numberEpisode]="episodes[currentEpisode].episode"
                    [displayHIJO]="visbilityEpisode"
                    [arrayContentsEpisodes]="episodes"
                    (current)="onCurrentEpisode($event)"
                    ></app-episode>
                </div>
            </div>
        </section>
        <app-modal
        [modalStatus]="modalVisibility"
        [modalImageMeme]="contents[currentCharacter].image"
        [modalTitleMeme]="contents[currentCharacter].name"
        (close)="closeModal($event)"
        ></app-modal>
    </div>





