
<div class="header">
    <h1>Ejercicio 1</h1>
</div>
<div class="content">
    <section>
        <div [ngClass]="case">
        @if(case==='elementor-grid-3'){
                    @for(content of contents; track content; let i=$index){
            <div class="container elementor-grid" > 
                @for(item of content; track item; let j=$index){
                <div class="photo-container">
                    <div class="photo" (click)="onClick(i,j)"
                        style="background-image: url({{item.urlPhoto}})">
                    </div>
                </div>
            }
            </div>
        }
        }@else{
            <div class="container elementor-grid" > 
                <div class="photo-container">
                    <div class="photo" (click)="onClick(0,0)" style="background-image: url({{photoAugment}})">
                    </div>
                </div>
            </div>
        }
        </div>
    </section>
</div>