<!-- Vista Meme3 -->
<div class="meme">
    <section>
        <div class="grid">
            <!-- Componente Card -->
            <app-card (click)="onClick()" [titleMeme]="contentsMemes[current].nameMeme" [imageMeme]="contentsMemes[current].imageMeme"></app-card>
        </div>
        <button (click)="onPrevious()">Anterior</button><button (click)="onNext()">Siguiente</button>
    </section>

</div>

<app-modal [modalStatus]="modalVisibility" [modalTitleMeme]="contentsMemes[current].nameMeme" [modalImageMeme]="contentsMemes[current].imageMeme"></app-modal>