<div>
    <article>
        <div>
            <div>
                <h1 style="position: absolute;color: white;" >La Ciudad de las Artes y las Ciencias</h1>
                <img src={{pictureUrl}} alt="" width="100%" (mouseover)="pictureIn()" (mouseout)="pictureOut()">
            </div>
            <div>
                <p style="text-align: justify;"(mouseover)="textColorIn($event)" (mouseout)="textColorOut($event)">Ubicada al final del viejo cauce del río Turia, la Ciudad de las Artes y
                    las Ciencias es un
                    complejo
                    arquitectónico,
                    cultural y de entretenimiento diseñado por Santiago Calatrava y Félix Candela, junto con los
                    ingenieros
                    autores
                    del
                    diseño estructural de las cubiertas del L'Oceanografic Alberto Domingo y Carlos Lázaro
                </p>
            </div>
        </div>
    </article>
</div>