    <!-- EJERCICIO 1  -->
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: 50px;">
        <p style="margin-right: 50px;" (click)="onClickFather(0)">Angular</p>
        <p (click)="onClickFather(1)">Symfony</p>
    </div>
    
    
<app-github 
    [contentsAngularGithub]="contentsAngular" 
    [contentsSymfonyGithub]="contentsSymfony" 
    [nameContent]="searchTerm"
    [status]="status"
    (data)="statusAppGithub($event)"
    [displayDetailHIJO]="displayDetail"
    [displayGridHIJO]="displayGrid">
</app-github>
    
    