
    <main class="content">
        <section>
            <div class="grid">
                @for(vegetable of vegetables; track vegetable; let i =$index){
                    <app-article [title]="vegetable.title" [text]="vegetable.text" [photo]="vegetable.url" (urlPhoto)="imageDetail($event)" (titlePhoto)="imageDetailTitle($event)"></app-article>
                }
            </div>
        </section>
    </main>

    <app-modal [photo]="modalImage" [title]="modalTitle" [status]="modalState"></app-modal>

