<div>
    <aside>
        <div >
            <h2 (click)="onClick($event)">Edificios</h2>
            <ul [ngStyle]="{'visibility': status}">
                <li>
                    <a href="https://cac.es/hemisferic/">Hemisferic</a>
                </li>
                <li>
                    <a href="https://cac.es/museu-de-les-ciencies/">Museo de las Ciencias</a>
                </li>
                <li>
                    <a href="https://www.oceanografic.org/">Oceanografic</a>
                </li>
                <li>
                    <a href="https://www.lesarts.com/">Palau de les arts</a>
                </li>
                <li>
                    <a href="https://umbracleterraza.com/umbracle/inicio/">Umbracle</a>
                </li>
            </ul>
        </div>
    </aside>
</div>